{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<style type="text/css">
    table, input, p {
        margin-left: 50PX;
        font-size:20px;
    }

</style>
<form method="post" action="{% url 'login' %}">
<table>
{% csrf_token %}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
</table>
<br>
<table><tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
    <br>
<input type="submit" value="Ingresar a mi cuenta" class="button is-success">
<input type="hidden" name="next" value="{% url 'home'%}">
</form>




<br>
<br>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}" class="button is-dark">¿Te olvidaste tu contraseña?</a></p>

{% endblock %}
