{% extends "base.html" %}

{% block content %}
    <div class="content">
    <form action="{% url 'producto-list' %}" method="get">
        <center>
            <input class="input is-rounded" type="text" name="q" style="width : 700px" placeholder="Busca tu camiseta">
        </center>
    </form>
    </div>
    <ul>
      <a href="{% url 'home' %}" class="button is-black">Inicio</a>
      <a href="{% url 'producto-list' %}" class="button is-dark">Camisetas</a>
    </ul>
    {% if user.is_authenticated %}
    <div align="right">
    <h3  class="title is-4"> Hola {{ user.get_username }} </h3>
    <p>
      <a href="{% url 'logout' %}" class="button is-black">Cierra Sesion</a>
    </p>
    {% else %}
    <p align="right">
      <a href="{% url 'login' %}" class="button"> Inicia Sesion</a>
      <a href="{% url 'register' %}" class="button">Registrate</a>
    </p>
    {% endif %}
    </div>

    <hr>

    {% if messages %}
        {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}


    <div class="powr-image-slider" id="e9348a90_1624229265"></div>
    <script src="https://www.powr.io/powr.js?platform=html"></script>


    <h3 class="title is-1" align="center" >Las más vendidas </h3>
    <ul>
      <div class="columns is-multiline" width="100px" height="100px">
      {% for producto in latest_products %}
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'producto-detail' producto.pk %}">
                    <figure class="image">
                        <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible" width="200" height="200">
                    </figure>
                    </a>
                </div>
                <div class="card-content" align="center">
                    <h6 class="title is-4">
                        <a href="{% url 'producto-detail' producto.pk %}">
                            {{ producto.nombre }}
                        </a>
                    </h6>
                    <p class="subtitle is-4">$ {{ producto.precio }}</p>
                </div>
            </div>
        </div>
      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </div>
    </ul>
    <hr>

{% endblock %}