{% extends "base.html" %}

{% block content %}

<style>
  .block{
    margin-left: 20px;
  }
  .content{
    margin-left: 20px;
  }
  h3{
  margin-left: 20px;
  }
</style>
<ul>
  <a href="{% url 'home' %}" class="button is-black">Inicio</a>
  <a href="{% url 'producto-list' %}" class="button is-dark">Camisetas</a>
</ul>
<br>


<h3 class="title is-1"> Carrito de compras </h3>
    <div class="block">
        <h5 class="title is-3" style="color:grey"> Información General </h5>
            <ul>
              <li><strong>Cliente:</strong> {{ object.cliente.user_profile.user.get_username }} </li>

              <li> <strong>Fecha de compra:</strong> {{ object.fecha_creacion }}</li>
            </ul>
    </div>
    <div class="block">
        <h5 class="title is-3" style="color:grey"> Detalle </h5>
            <ul>
              {% for detalle in detalles %}
                <li>
                  {{ detalle }}
                  <a href="{% url 'add-to-cart' product_pk=detalle.producto.pk %}" class="button is-success">
                    +
                  </a>
                  <a href="{% url 'remove-from-cart' product_pk=detalle.producto.pk %}" class="button is-danger">
                    -
                  </a>
                </li>
              {% endfor %}
            </ul>
        <br>
    <a href="{% url 'pedido-update' pk=object.pk %}" class='button is-info'>
      Checkout
    </a>
    </div>

    <hr>
{% endblock %}
