<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Camisetas </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <a href="{% url 'home' %}">
        <center>
            <img src="https://bit.ly/3gGmTY1">
        </center>
    </a>
    <div class="content">
    <form action="{% url 'producto-list' %}" method="get">
        <center>
            <input class="input is-rounded" type="text" name="q" style="width : 700px" placeholder="Busca tu camiseta">
        </center>
    </form>
    </div>
    <hr>
    <h3 class="title is-1" align="center" >Camisetas </h3>
<style>
    label, select{
        margin-left: 50PX;
        font-size:20px;
    }
    input{

    }
</style>
    <form method="get">
        <label> Categoría </label>
        <input class="input is-rounded" type="hidden" name="c"  >
        <select name="categoria" id="categoria" style="margin-bottom:24px" >
           <option value="5"  >----</option>
            {% for categoria in categorias %}

            <option value="{{categoria.id}}"  >{{categoria.nombre}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="featured" class="button is-info is-outlined" value="Filtrar">
    </form>


    <ul>
    <div class="columns is-multiline" width="100px" height="100px">
    {% for producto in object_list %}
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'producto-detail' producto.pk %}">
                    <figure class="image">
                        <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible" width="200" height="200">
                    </figure>
                    </a>
                </div>
                <div class="card-content" align="center">
                    <h6 class="title is-4">
                        <a href="{% url 'producto-detail' producto.pk %}">
                            {{ producto.nombre }}
                        </a>
                    </h6>
                    <p class="subtitle is-4">$ {{ producto.precio }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="content">
            <h6>Aun no hay productos disponibles.</h6>
        </div>
    {% endfor %}
    </div>
    </ul>
    <hr>
    <ul>
      <li> <a class="button" href="{% url 'home' %}">Inicio</a> </li>
    </ul>
  </body>
</html>