<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <body>
    <a href="{% url 'home' %}">
        <h1 class="title is-1" style="color:red" > La Pichanga </h1>
    </a>
    <hr>
    <h3> Camisetas </h3>
    <ul>
    <div class="columns is-multiline" width="100px" height="100px">
    {% for producto in object_list %}
        <div class="column is-4">
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'producto-detail' producto.pk %}">
                    <figure class="image">
                        <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible" width="200" height="200">
                    </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h6>
                        <a href="{% url 'producto-detail' producto.pk %}">
                            {{ producto.nombre }}
                        </a>
                    </h6>
                    <p>$ {{ producto.precio }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="content">
            <h6>Aun no hay productos disponibles.</h6>
        </div>
    {% endfor %}
    </div>
    </ul>
    <hr>
    <ul>
      <li> <a class="button" href="{% url 'home' %}">Inicio</a> </li>
    </ul>
  </body>
</html>