<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="utf-8">
    <title> La Pichanga </title>
  </head>
  <body>
    <a href="{% url 'home' %}">
        <center>
            <img src="https://bit.ly/3gGmTY1">
        </center>
    </a>
    <ul>
      <a href="{% url 'home' %}" class="button is-black">Inicio</a>
      <a href="{% url 'producto-list' %}" class="button is-dark">Camisetas</a>
    </ul>
    <hr>
    <h3 class="title is-1"> {{ object.nombre }} </h3>
    <div class="columns">
    {% for image in object.images.all %}
    <div class="column is-3">
        <figure class="image is-square" >
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="No hay imagen disponible" width="300" height="300" >
            </a>
        </figure>
    </div>
    {% empty %}
    <div class="column content">
        <p>Aún no hay imágenes disponibles</p>
    </div>
    {% endfor %}
    </div>

    <ul>
      <li><strong>Precio:</strong> {{ object.precio }}</li>
      <br>
      <li><strong>Descripcion:</strong> {{ object.descripcion }}</li>
      <br>
      <li><strong>Categoria:</strong> {{ object.categoria.nombre }}</li>
      <br>
      <li><strong>Marca:</strong> {{ object.proveedor }}</li>
    <br>
    </ul>
    <div class="block">
    <a href="{% url 'add-to-cart' product_pk=object.pk %}" class="button is-success" role="button">
      Añadir al carrito
    </a>
    <a href="{% url 'pedido-detail' %}" class='button is-info' >
      Ver carrito
    </a>
    </div>
    <hr>
  </body>
</html>