<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href=""    rel="stylesheet" type="text/css">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="utf-8">
    <title> LinioExp </title>
  </head>
  <body>
    <h1> Linio Exp </h1>
    <hr>
    <h3> {{ object.nombre }} </h3>
    <div class="columns">
    {% for image in object.images.all %}
    <div class="column is-3">
        <figure class="image is-square">
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" alt="No hay imagen disponible">
            </a>
        </figure>
    </div>
    {% empty %}
    <div class="column content">
        <p>Aún no hay imágenes disponibles</p>
    </div>
    {% endfor %}
    </div>
    <ul>
      <li><strong>Precio:</strong> {{ object.precio }}</li>
      <li><strong>Descripcion:</strong> {{ object.descripcion }}</li>
      <li><strong>Categoria:</strong> {{ object.categoria.nombre }}</li>
      <li><strong>Proveedor:</strong> {{ object.proveedor }}</li>
    </ul>
    <div class="block">
    <a href="{% url 'add-to-cart' product_pk=object.pk %}" class="btn btn-success" role="button">
      Añadir al carrito
    </a>
    <a href="{% url 'pedido-detail' %}" class='btn btn-success' role="button">
      Ver carrito
    </a>
    </div>
    <hr>
    <ul>
      <li><a href="{% url 'producto-list' %}">Ver Lista de Productos</a></li>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
  </body>
</html>