<!DOCTYPE html>
<html>

<head>
    <!-- Usaremos utf-8 como formato de codificación -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Título de nuestra página -->
    <title>La Pichanga - Las mejores camisetas de fútbol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
<section>
    <div>
        <a href="{% url 'home' %}">
            <center>
                <img src="https://bit.ly/3gGmTY1">
            </center>
        </a>
        <hr>
        <div class="content">
        <form action="{% url 'producto-list' %}" method="get">
            <center>
                <input class="input is-rounded" type="text" name="q" style="width : 700px" placeholder="Busca tu camiseta">
            </center>
        </form>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</section>
</body>