<!DOCTYPE html>
<html>

<head>
    <!-- Usaremos utf-8 como formato de codificación -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Título de nuestra página -->
    <title>La Pichanga - Las mejores camisetas de fútbol</title>
    <div class="content">
    <form action="{% url 'producto-list' %}" method="get">
        <input class="input is-rounded" type="text" name="q" placeholder="Busca tu camiseta...">
    </form>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
<section>
    <div>
        <div class="columns">
            <div class="column">
                <a href="{% url 'home' %}">
                <h1 class="title is-1" style="color:red" > La Pichanga </h1>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="column">
                <a class="button" href="{% url 'logout' %}">Cierra Sesion</a>
            </div>
            {% endif %}
        <hr>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</section>
</body>